---
import Layout from "../layouts/Layout.astro";
---

<Layout title='Blog'>
	<main class='flex flex-col justify-center items-center'>
		<h1 class='text-white'>Blog Page</h1>
		<a href='/' class='text-white mt-4'>Home</a>
		<ul class='flex justify-center items-center text-white'>
			<li><a href='/posts/post-1/'>Post 1</a></li>
			<li><a href='/posts/post-2/'>Post 2</a></li>
			<li><a href='/posts/post-3/'>Post 3</a></li>
		</ul>
	</main>
</Layout>
