---
import Layout from "../layouts/Layout.astro";
---

<Layout title='Blog'>
	<main class='flex flex-col justify-center items-center'>
		<h1 class='text-white'>Blog Page</h1>
		<a href='/' class='text-white mt-4'>Home</a>
	</main>
</Layout>
